body {
  margin: 0;
  padding: 0;
}

/* .map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 50%;
  z-index: -10;
} */

#before {
  width: 50%;
  height: 100vh;
  float: left;
  border-right: 0.1px solid black;
}

#after {
  width: 50%;
  height: 100vh;
  float: left;
  border-left: 0.1px solid black;
}

.maplibregl-ctrl-top-right {
  top: 80px;
}

.map-overlay {
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: absolute;
  width: 245px;
  top: 20;
  left: 0;
  padding: 10px;
}

.map-overlay .map-overlay-inner {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.map-overlay h2 {
  line-height: 24px;
  display: block;
  margin: 0 0 10px;
}

.map-overlay .legend .bar {
  height: 10px;
  width: 100%;
  background: linear-gradient(to right, #fca107, #7f3121);
}

.map-overlay input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}

.timeDay {
  display: flex; /* 2. display flex to the rescue */
  flex-direction: row;
}

.timeDay > input {
  display: block; /* 1. oh noes, my inputs are styled as block... */
  /* align-items: center; */
  /* vertical-align: middle; */
}

.map-overlay input[type="radio"] {
  height: 1em;
  width: 20%;
  /* align-items: center; */
  vertical-align: middle;
}

.map-overlay-right {
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: absolute;
  width: 245px;
  top: 20;
  right: 0;
  padding: 10px;
}

.map-overlay-right .map-overlay-inner {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.map-overlay-right h2 {
  line-height: 24px;
  display: block;
  margin: 0 0 10px;
}

.map-overlay-right .legend .bar {
  height: 10px;
  width: 100%;
  background: linear-gradient(to right, #fca107, #7f3121);
}

.map-overlay-right input {
  background-color: transparent;
  display: inline-block;
  width: 100%;
  position: relative;
  margin: 0;
  cursor: ew-resize;
}

.timeDay > input {
  display: block; /* 1. oh noes, my inputs are styled as block... */
  /* align-items: center; */
  /* vertical-align: middle; */
}

.map-overlay-right input[type="radio"] {
  height: 1em;
  width: 20%;
  /* align-items: center; */
  vertical-align: middle;
}

.map-overlay-bottom-right {
  font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
  position: absolute;
  width: 245px;
  bottom: 0;
  right: 0;
  padding: 10px;
}

.map-overlay-bottom-right .map-overlay-inner {
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
}

.map-overlay-bottom-right h2 {
  line-height: 24px;
  display: block;
  margin: 0 0 10px;
}

/* progress bar colors */
#a-native-indian {
  background-color: #d53e4f;
}

#a-asian {
  background-color: #f46d43;
}

#a-black {
  background-color: #fdae61;
}

#a-latino {
  background-color: #fee08b;
}

#a-native-pacific {
  background-color: #e6f598;
}

#a-white {
  background-color: #abdda4;
}

#a-other {
  background-color: #66c2a5;
}

#state-legend {
  position: absolute;
  bottom: 5%;
  right: 67em;
  padding: 10px;
  width: 120px;
}

.legend {
  background-color: rgba(255,255,255, 0.75);
  border-radius: 3px;
  bottom: 30px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
  padding: 10px;
  position: absolute;
  right: 10px;
  z-index: 1;
}

.legend div span {
  border-radius: 0%;
  display: inline-block;
  height: 20px;
  margin: 0 1em 0.5em 0;
  width: 20px;
}

.legend-row {
  display: flex;
}